<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TravelBookingApp.Properties.Settings.HappyAirLineConnectionString"
            connectionString="Data Source=DESKTOP-4O6DI2B\SQLSERVER2022;Initial Catalog=HappyAirLine;Persist Security Info=True;User ID=sa;Password=33420211;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>